@use '@/styles/libs/fonts.scss';
@import '@/styles/libs/variables.scss';

// @include fonts.regular;
.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: $white;
    // margin-top: 50px;

    .note-content {
        width: 100%;
        padding-top: 50px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 50px;
        background-color: #addef9;
        background-color: $pure-white;
        min-height: 100vh;
        @include fonts.light;
        line-height: 1.8rem;

        h1,
        h2,
        h3,
        h4 {
            @include fonts.bold;
        }
    }
}

@media (min-width: $tabs) {
    .wrapper {
        // margin-top: 50px;

        .note-content {
            width: $note-content-block-tabs-width;
            padding-top: 50px;
            padding-left: 35px;
            padding-right: 35px;
            background-color: $pure-white;


        }
    }
}

@media (min-width: $desktop) {
    .wrapper {

        .note-content {
            width: $note-content-block-desk-width;
        }
    }
}