:root {
    --pure-white: white;
    --smoke-white: #EEEDED;
    --shadow: #C0BFBF;
    --shadow-primary: #00000080;
    --main-text: #000000;
    --secondary-text: #676767;
    --cyan: #92B0FF;
    --primary-cyan: #667CFF;
    --okey: #66DA94;
    --danger: #FEBBC2;
    --warning: #ffcd16;
    --invalid: #ff5353;
    --valid: #1bc129;

    --sidebar-bg: #ffffffd8;
    --search-shadow: rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] {
    --pure-white: rgb(21, 21, 21);
    --smoke-white: #282828;
    --shadow: #C0BFBF;
    --shadow-primary: #8f8e8ecf;
    --main-text: #f7f7f7;
    --secondary-text: #939393;
    --cyan: #92B0FF;
    --primary-cyan: #667CFF;
    --okey: #66DA94;
    --danger: #FEBBC2;
    --warning: #ffcd16;
    --invalid: #ff5353;
    --valid: #1bc129;

    --sidebar-bg: #0a0a0ad8;
    --search-shadow: rgba(66, 66, 66, 0.729);
}